* {margin: 0%; padding: 0%; box-sizing: border-box;}
a {text-decoration: none;}
body {font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans","sans-serif"; }


/*----Cabecera---------------------------------------------------------------------------------------------------*/
.espacioLibre {width: 100%; height: 80px;} 

header {
        display: flex;
        align-items:center;
        position: fixed; top: 0px;
        width: 100%; height: 80px; z-index: 10; 
        justify-content:space-between;
        background-color: rgb(53, 58, 64);
        } 

        #logo {width: 100px; vertical-align: middle;}
        header span {padding-left: 6vw; font-size: 1.4rem; color:white; white-space: nowrap;}
        header nav {padding-right: 6vw; text-align: right;}

header a {font-size: 1.2em; color: #929da1; margin-left: 1.2em; white-space: nowrap;}
header a:not(:last-of-type):hover {color: antiquewhite;}
header a:not(:last-of-type):focus {color: white;}
header a:last-of-type:hover {color: #1ac50b;}
header #actual {color: #1ac50b;}

@media(max-width:800px){header a {font-size: 0.9em;}
                        header span {display: flex; padding-left: 2vw; font-size: 1.2rem; flex-wrap: wrap; width: 100px;}
                        #logo {width: 80px;}
                        header nav { padding-right: 2vw;}
}

/*----Sección: "La conferencia"----------------------------------------------------------------------------------------*/
#laConf {
        width: 100%; height: 56.25vw;
        position: relative;  top: 0px; right: 0px; bottom: 0px; left: 0px;
        color: white;}

       #laConf::before { /*Oscurece las diapositivas para que resalte el texto*/
                width: 100%; height: 56.25vw;
                content: "";
                position: absolute;
                background-color: rgba(0, 0, 0, 0.4);
                top: 0px; right: 0px; bottom: 0px; left: 0px;
                z-index: 2;
        }
        ul {list-style: none;}
        
        #invit {
                width: 560px;
                /*padding-left: calc(50% - (1366px - 100vw));*/
                position: absolute;
                bottom: 16vw;
                right: 8vw; 
                text-align: right;
                font-size: 1.1em;
                z-index: 5;
        }
#invit h2 {
        font-size: 2rem;
        font-weight: 600;
}

@media(max-width:648px){
        #invit {
                max-width: 100vw;
                font-size: 1em;
                bottom: 2vw;
                right: 2vw; 
                padding-bottom: 1rem;
                padding-left: 2rem;
        }     
}

@media(max-width:430px){
        #invit {font-size: .8em;}
        #invit h2 {display: none;}
}


/*----Sección: "Los oradores"----------------------------------------------------------------------------------------*/
#losOra, #orate {margin-top: 1rem; padding-top: 80px;}

#losOra p:first-child , #orate p:first-child, #venta p:first-child {font-size: .7rem; color: rgb(128, 128, 128); text-align: center;}

#losOra h2, #orate h2, #venta h2 {text-align: center; font-size: 1.7rem; font-weight: 550; color:rgb(53, 58, 64)}

#oradores {display: flex; justify-content: center; flex-wrap: wrap;}
#oradores img {width: 300px; height: 300px;}

.ficha {border: solid 1px rgb(223, 223, 223); width: 300px; margin: 1%;}
/*----Etiquetas------------------------------------------------------------------------------------------------------*/
.etiquetas span {font-size: .7rem; font-weight: bold; padding: .1em .3em; margin-right: .2em; border-radius: 5px;}
.JS {background-color: #ffc007;}
.R {background-color: #17a2b9; color: white;}
.N {background-color: #6c757a; color: white;}
.S {background-color: #dd3544; color: white;}

h4 {font-size: 1.2rem; font-weight: 600; margin-bottom: 1rem;}
.datosOrador {padding: .8rem;}
.datosOrador p {text-align: left; font-size: .8rem; line-height: 1.2rem; color:#333}





/*----Sección: "Lugar y fecha"----------------------------------------------------------------------------------------*/
#lyf {  margin-top: 1rem; padding-top: 80px;
        display: flex; width: 100%; 
        justify-content: center; align-items: center;}

#lyf div {  
        width: 50%; 
        height: calc(1300 / 2048 * 50vw);
        border: solid 1px rgb(223, 223, 223);
}

#lyf div:first-child {
        background-image: url(img/honolulu.jpg);
        background-size: 50vw calc(1300 / 2048 * 50vw);
        background-repeat: no-repeat;
}

#lyf div:nth-child(2){
        padding: 1rem; 
        background-color: rgb(53, 58, 64); 
        color: azure;}


        @media(max-width:850px){
                #lyf { flex-direction: column;}
                #lyf div { width: 100%; }
                #lyf div:first-child {background-size:cover; height: calc(1300 / 2048 * 100vw); }
                #lyf div:nth-child(2){height: auto; }
        }
        

/*----Sección: "Conviértete en orador"----------------------------------------------------------------------------------------*/
.verde {color: #27a844;}

#orate {width: 100%; }

#orate p:nth-of-type(2) {font-size: .8rem; color: rgb(87, 99, 99); text-align: center;}

#orate p.recordatorio {text-align: left; color: rgb(87, 99, 99); font-size: .7rem; margin-top: .5rem;}

#orate a {color: #1d3744; text-decoration: underline  dotted;}

#formulario { display:inline-block; width: 50%; margin-left: 25%; margin-right: 25%; margin-top: 1rem; text-align: left;}
span.datos {display:flex; width: 100%; justify-content: space-between;}
#nombre, #apellido {width: 48%; padding: .2rem; margin-bottom: 1rem; border: solid 1px lightgray; border-radius: 4px;}
textarea {width: 100%; height: 5rem; font-size: 1.2rem; padding: .2rem; border: solid 1px lightgray; border-radius: 4px;}
#enviar {width: 100%; background-color: #96c93e; margin-bottom: 15px; border-radius: 5px; color: white; height: 40px; font-size: larger; border:none;}


@media(max-width:1000px){
        #formulario { /*display:inline-block; */ width: 75%; margin-left:12.5%; margin-right: 12.5%;}
}



/*----Sección: "descuentos"----------------------------------------------------------------------------------------*/
#descuentos {
         display: flex;
         margin-top: 100px;
         justify-content: center;
}
            
.tarjetaDescuento {
        margin: 3px;
        width: 220px; height: auto;
        text-align: center;
        border: solid 2px blue;
}

.tarjetaDescuento:nth-child(1) {border-color:dodgerblue;}
.tarjetaDescuento:nth-child(2) {border-color: #17a2b9;}
.tarjetaDescuento:nth-child(3) {border-color: orange;}

.tarjetaDescuento p {margin: 1.2rem 0;}
.tarjetaDescuento p:nth-child(1) {font-size: 1.5rem; font-weight: 600;}
.tarjetaDescuento p:nth-child(2) {font-size: 1.2rem; font-weight: 500;}
.tarjetaDescuento p:nth-child(3) {font-size: 1.1rem; font-weight: 700;}
.tarjetaDescuento p:nth-child(4) {font-size: 1rem; font-weight: 500; color:gray;}


/*----Sección: "venta"----------------------------------------------------------------------------------------*/
#formularioVenta { display:inline-block; width: 50%; margin-left: 25%; margin-right: 25%; margin-top: 1rem; text-align: left;}
#formularioVenta #nombre, #formularioVenta #apellido {width: 49%; padding: .2rem 1rem; margin-bottom: 1rem; border: solid 1px lightgray; border-radius: 4px;}

#datosCompra, #datosComprador {display: flex; justify-content: space-between;}
#datosCompra input, #datosComprador input, #contCorreo input, #categoria {height: 40px; background-color: transparent; font-size: 1rem; padding-left: 1rem;}

.inputRotulado {width: 49%;}
.inputRotulado label {display: block; margin-bottom: 12px;}

#contCorreo {display: block;}
#correo, #cantidad, #categoria {width: 100%; padding: .2rem 1rem; margin-bottom: 1rem; border: solid 1px lightgray; border-radius: 4px;}

#correo:invalid, #cantidad:invalid {background-color: rgb(243, 233, 235);}

#venta {text-align: center;}
#botonesFormularioVenta {display: flex; justify-content: space-between;}
#borrar, #resumen {width: 49%; background-color: #96c93e; margin-bottom: 15px; border-radius: 5px; color: white; height: 40px; font-size: larger; border:none;}
#borrar:hover, #resumen:hover, #enviar:hover {background-color:darkolivegreen;}

#total {display:flex; align-items: center; width: 100%; background-color: #cce5ff; margin: 15px 0px 30px; padding-left: 2rem; border-radius: 5px;  height: 50px;}
/*#total span{font-size: larger; color: #004085;}*/
#total input{font-size: larger; color: #004085; border:none; background-color: transparent;}


/*-------------------------------------Pie de página-----------------------------------------------------------------------------------------*/
footer {display:flex; width: 100%; height: 80px; align-items: center; background-image: linear-gradient(to right,#1d3744,#1d5271);}

footer nav {display:flex; width: 100%; justify-content: space-around; align-items: center; padding: 0 10em; flex-wrap: wrap;}

footer a {font-size: 1em; color: white; width: 6em; text-align: center;}

@media(max-width:1000px) {      footer nav {padding: 0;}
                                footer a {font-size: .8em; padding: 5px 0;}
}    
/*--------------------------------------------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------Botones--------------------------------------------------------------------------------*/
.conBorde {border:solid 1px white; padding: .5em; border-radius: 5px; color: white;}

.conBorde:hover {border:solid 1px black; color: black; background-color: antiquewhite;}

.fondoVerde {padding: .5em; margin: .3em; background-color: #27a844; border-radius: 5px; color: white;}

.fondoVerde:hover {background-color: #10441b;}



/*----------------------------diapositivas--------------------------------------*/
.pasaPostales { 
    position: absolute;
    width: 100%; height: 56.25vw;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

.pasaPostales li span { 
    width: 100%; height: 100%;
    position: absolute;
    top: 0px; left: 0px;
    color: transparent;
    background-size: cover;
    background-repeat: none;
    opacity: 0;
    z-index: -1;
    animation-name: verDiapos;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    
}

.pasaPostales li:nth-child(1) span { 
        background-image: url(img/ba1.jpg); z-index: -1; 
}
.pasaPostales li:nth-child(2) span { 
        background-image: url(img/ba2.jpg); z-index: -2;  
        animation-delay: 10s; 
}
.pasaPostales li:nth-child(3) span { 
        background-image: url(img/ba3.jpg); z-index: -3; 
        animation-delay: 20s; 
}

/* Animación para las diapos */
@keyframes verDiapos { 
        0% { opacity: 0;}
        5% { opacity: 1;}
        33.3% { opacity: 1 }
        38.3% { opacity: 0 }
        100% { opacity: 0 }
    }

    /* sin animaciones */
    .no-cssanimations .pasaPostales li span{
            opacity: 1;
    }
